/** Global CSS */

.page-id-14 {
  background-color: #000000;
  #page {
    min-height: 100vh;

    #content {
      width: 80%;
      max-width: 1700px;
      margin: 10em auto 0 auto;

      h2 {
        color: $white-smoke;
      }
      p {
        color: $white-smoke;
      }
      a {
        color: $red;
      }
      .h3 {
        color: $white-smoke;
      }
    }
  }
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.center-button {
  display: block;
  width: 100%;
  & a {
    width: 100%;
    background-color: $red;
    color: $white-smoke;
    padding-top: 1em;
    padding-bottom: 1em;
    button {
      background-color: $red !important;
      width: 100%;
      border-radius: 0 !important;
      border: none;
      color: $white-smoke;
    }
  }
}

.line-height-1 {
  line-height: 1 !important;
}

.mailpoet_form_close_icon {
  background-color: #ffffff;
}

.center-container {
  margin: 0 auto;
  display: block;
}

.watch-trailer a {
  color: $red !important;
}

.watch-trailer a:hover {
  color: $red !important;
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
}

/** max width */
@media (max-width: 1399.98px) { }

@media (max-width: 1199.98px) { }

@media (max-width: 991.98px) {
  .center-button {
    margin-top: 1em;
  }
}

@media (max-width: 767.98px) { }

@media (max-width: 575.98px) { }


/** min width */
@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }



