/** Global CSS */

.page-id-14 {
  background-color: #000000;
  #page {
    min-height: 100vh;

    #content {
      width: 80%;
      max-width: 1700px;
      margin: 10em auto 0 auto;

      h2 {
        color: $white-smoke;
      }
      p {
        color: $white-smoke;
      }
      a {
        color: $red;
      }
      .h3 {
        color: $white-smoke;
      }
    }
  }
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.line-height-1 {
  line-height: 1 !important;
}

.mailpoet_form_close_icon {
  background-color: #ffffff;
}

.center-container {
  margin: 0 auto;
  display: block;
}

.watch-trailer a {
  color: $white-font !important;
}

.watch-trailer a:hover {
  color: $red !important;
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
}
