/** Gravity Form */

#gform_wrapper_1 .gform_footer {
  visibility: hidden;
  position: absolute;
  left: -100vw;
}

#contact-form-container {
  margin-bottom: 0 !important;
}

#gform_submit_button_1 {
  background-color: $red;
  border-color: $red;
  color: $white-smoke;
  border: none;
  padding: 1em 2em;
  width: 100%;
}

.gform_confirmation_wrapper {
  .gform_confirmation_message {
    color: $white-smoke;
  }
}

.gfield_password_strength.strong {
  background-color: $green;
}

.gfield_password_strength.short {
  background-color: $medium-red;
}

.gfield_password_strength.bad {
  background-color: $dark-red;
}

.gfield_password_strength.good {
  background-color: $yellow;
}