/** Lost Password */
.woocommerce-ResetPassword.lost_reset_password {
  color: $white-font;
  width: 500px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.8);
  padding: 1.618em;

  button[type="submit"] {
    background-color: $red;
    border: $red;
  }
}
