/** Registration */
#wppb-register-user-actor {
  #wppb-form-element-12 {
    #pass-strength-result {
      color: #000 !important;
    }

    #wppb_password_strength {
      color: #000 !important;
    }
  }
}

.password-registration {
  #pass-strength-result {
    color: #000 !important;
  }
}

#gform_wrapper_2 {
  label {
    color: $white-smoke;
  }
  .gfield_label {
    color: $white-smoke;
  }
  #gform_submit_button_2 {
    background-color: $red;
    color: $white-smoke;
    border-radius: 0;
    border: none;
    padding: .5em 2em;
  }
}

#register-title {
  h1 {
    color: $white-smoke;
  }
}