/** Slider */

.wpsp-product-title {
  a {
    font-size: 1.3rem !important;
  }
}

#wpsp-slider-section.wpsp-slider-section h2.sp-woo-product-slider-pro-section-title {
  display: inherit !important;
}


#wpsp-slider-section {
  h2 {
    text-align: center;
    color: $white-smoke;
  }
}