$black: #000000;
$black-background: #000000;
$red-background: #f90000;
$black-hover: #3c4043;
$green: #00ff00;
$red: #CC0000;
$red-hover: #BC0000;

$lite-red: #F24949;
$medium-red: #D92929;
$dark-red: #BF1111;

$yellow: #F2E205;

$white-smoke: #f5f5f5;
$white-font: #ffffff;
$white-border: #ffffff;
$white: #ffffff;

$red-link: #CC0000;

$small-font: .999rem;

$dark-font: #000000;
